@import "rsuite/dist/rsuite.css";

.App, html, body{
  width: 100%;
  height: 100%;
  /* background-color: rgb(189, 189, 189); */
  margin: 0;
  padding: 0;
}

#root {
  width: 100%;
  height: 100%;
  background-color: #afd9c4;
  background-image: linear-gradient(100deg, #8698d4 0%, #b8e4c5 100%);
  background-size: cover;
  background-repeat: no-repeat;
}


.Btntoolbar {
  position: absolute;
  top: 60px;
  left: 30px;
}

.toggle {
  position: absolute;
  top: 60px;
  right: 30px;
  z-index: 1;
}

.test {
  background-color: rgb(41, 41, 41);
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 40px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  line-height: 1.5;
}

.icons {
  margin-right: 10px;
}

.navicons {
  position: fixed;
  right: 10px; 
}
.navicons:hover {
  cursor: pointer; 
  filter: invert(50%) sepia(100%) saturate(1000%);
}

.btntoggle.clicked {
  background-color: #d9afd9;
}

.dropdown-content a {
  position: fixed;
  right: 10px; 
  padding: 10px;
  text-decoration: none;
  display: block;
  color: #333;
}

.glass {
  z-index: 1;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.colorpicker{
  position: absolute;
  color: white;
  width: 90%;
}

.TControls{
  position: fixed;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%); 
  z-index: 1;
}

.hovered:hover {
  cursor: pointer;
}
